<ul>
  <li><%= link_to current_student.full_name, student_path(current_student) %></li>
  <li><%= link_to "Subjects", subjects_path %></li>
  <li><%= link_to "Instructors", instructors_path %></li>
  <li><%= link_to "Logout", logout_path, method: :delete %></li>
</ul>

<h2>Recently Reviewed</h2>
<ul>
  <% Review.recents.each do |r| %>
    <li><%= "#{r.created_at.strftime("%b %e, %l:%m %p") } | #{r.title} - #{r.klass.instructor.name} - #{r.klass.subject.name} "%></li>
    <% end %>
</ul>

<h2>Most Reviewed Classes</h2>

<ul>
  <% Klass.most_frequent.each do |k| %>
    <li><%= "#{k.instructor.name},  #{k.subject.name}, #{k.year}"%></li>
    <ul>
      <li><%=link_to k.reviews.length, k%> reviews</li>
    </ul>
    <% end %>
</ul>
