<div class="container jumbotron" id="center-div">

<div class="row justify-content-md-center">
<h1>Create a new user!</h1>
</div>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@student.errors.count, "error") %>
      prohibited your account from being created:
    </h2>

    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @student do |f| %>
    <%= f.label :first_name, "First Name:"  %>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name  %><br>
    <%= f.label :username, "Username:"%>
    <%= f.text_field :username %><br>
    <%= f.label :grad_year, "Graduation Year:"%>
    <%= f.select :grad_year, (1986..Time.now.year+10)%><br>
    <%= f.label :password, "Password:"%>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, "Confirm Password:"%>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit %>
<% end %>

</div>
