
<div class="container table-responsive">
<h1><%= @student.full_name %></h1>

<h2>Class of: <%= @student.grad_year %></h2>

<% if @student.reviews.empty? %>
  <h3>No reviews yet!</h3>
  <% else %>
    <h3>Reviews:</h3>
    <table class = "table table-hover rounded" id="index-tables">

      <tr>
        <th>Title</th>
        <th>Teacher/Subject</th>
        <th>Overall Rating</th>
      </tr>
      <% @student.reviews.each do |r| %>
      <tr>
        <td><%= link_to r.title, review_path(r) %></td>
        <td><%= r.klass.instructor.name %>, <%= r.klass.subject.name %></td>
        <td><%= r.overall %>/5</td>
      </tr>
      <% end %>
    </table><br>
  <% end %>

<% if @student.id == current_student.id %>
    <span class="btn btn-light btn-md"><%= link_to "Edit Profile", edit_student_path(@student)%> </span> <span class="btn btn-light btn-md"><%= link_to "Delete Profile", @student, method: :delete, data:{ confirm: 'Are you sure?'}%></span> <span class="btn btn-light btn-md"><%= link_to "Logout", logout_path, method: :delete %></span>
<% else %>
<% end %>

</div>
