<h1>Create New Instructor</h1>

<%= render 'shared/errors', input: @instructor %>
<%= form_for @instructor do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><p></p>

  <%= f.submit %>
<% end %>
