<div class="container table-responsive">



<h1><%= @instructor.name %> </h1>

<% if @instructor.klasses.any? %>
  <table class = "table table-hover rounded" id="index-tables">
    <tr>
      <th>Subject</th>
      <th>Year</th>
      <th>Average Overall Rating</th>
    </tr>
      <% @instructor.klasses.each do |k| %>
      <tr>
        <td><%= link_to k.subject.name, subject_path(k.subject) %></td>
        <td><%= link_to k.year, k %></td>
        <td><%= k.average_overall %></td>
      </tr>
      <% end %>
  </table>
<% else %>
  There are no classes yet for this instructor <br><br>
  <span class="btn btn-light btn-md"><%= link_to "Create one now!", new_klass_path %></span>
<% end %><p></p>

<span class="btn btn-light btn-md "><%= link_to "All Instructors", instructors_path %></span>
</div>
