<h1>Create New Subject</h1>

<%= render 'shared/errors', input: @subject %>

<%= form_for @subject do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><p></p>

  <%= f.submit %>
<% end %>
