<div class="review_form">

  <div class="" id="headingOne">
    <h2 class="mb-0">

        <% if !@klass.reviews.any? %>
          <h2>Be the first to review this class!</h2>
        <% else  %>
          <h2>Write a review for this class</h2>
        <% end %>
    </h2>
  </div>


  <div class="row">
    <div class="col">
        <%= form_for @klass.reviews.build do |f| %>
        <%= f.hidden_field :klass_id %>
        <%= f.hidden_field :student_id, value: current_student.id %>
          <div class="row">
            <div class="col">
              <%= f.label :title, "Title:" %>
            </div>
            <div class="col">
              <%= f.text_field :title %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.label :overall, "Overall:" %>
            </div>
            <div class="col">
              <%= f.select :overall, (1..5) %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.label :difficulty, "Difficulty: (1 is least difficult)" %>
            </div>
            <div class="col">
              <%= f.select :difficulty, (1..5) %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.label :intrigue, "Intrigue:" %>
            </div>
            <div class="col">
              <%= f.select :intrigue, (1..5) %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.label :recomendation, "How likely are you to recomend to a classmate?" %>
            </div>
            <div class="col">
                <%= f.select :recommendation, (1..5) %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.label :content, "Write your review:" %><br>
              <%= f.text_area :content, size: "30x10" %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
</div>
