<div class="review_form">

    <div class="" id="headingOne">
      <h2 class="mb-0">

          <% if !@klass.reviews.any? %>
            <h2>Be the first to review this class!</h2>
          <% else  %>
            <h2>Write a review for this class</h2>
          <% end %>
      </h2>
    </div>


        <div class="row">

        <div class="col-sm-7">
          <%= form_for @klass.reviews.build do |f| %>
            <%= f.hidden_field :klass_id %>
            <%= f.hidden_field :student_id, value: current_student.id %>
            <%= f.label :title, "Title:" %>
            <%= f.text_field :title %><br><br>
            <%= f.label :overall, "Overall:"%>
            <%= f.select :overall, (1..5) %><br><br>
            <%= f.label :difficulty, "Difficulty: (1 is least difficult)"%>
            <%= f.select :difficulty, (1..5) %><br><br>
            <%= f.label :intrigue, "Intrigue:"%>
            <%= f.select :intrigue, (1..5) %><br><br>
            <%= f.label :recomendation, "How likely are you to recomend to a classmate?"%>
            <%= f.select :recommendation, (1..5) %><br><br>
            <%= f.label :content, "Write your review:" %><br>
            <%= f.text_area :content, size: "30x10" %><br><br>
            <%= f.submit "Submit Review"%>
          <% end %>
        </div>
        </div>

</div>
