  <div class="container jumbotron" id="center-div">

  <div class="row justify-content-md-center">
    <h1>Add a new class to review!</h1>
      </div>
          <%= render 'shared/errors', input: @klass %>

        <div class="row justify-content-md-center">
          <%= form_for @klass do |f| %>
        <div class="row">

        <div class="col-sm-4">
          <%= f.label :subject_id, "Subject:"  %>
        </div>
        <div class="col-sm-4">
          <%= f.collection_select :subject_id, Subject.all.order(:name), :id, :name, prompt: true %><br>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <%= f.label :instructor_id, "Instructor:"  %>
        </div>

        <div class="col-sm-4">
          <%= f.collection_select :instructor_id, Instructor.all.order(:name), :id, :name %><br>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <%= f.label :year, "Year:" %>
        </div>

        <div class="col-sm-4">
          <%= f.select :year, (1990..Time.now.year) %><p></p>
        </div>

      </div>
        <div class="row justify-content-center">
          <div class="row justify-content-center">
            <%= f.submit 'Add Class' %>
          </div>
        </div>
            <% end %>

  </div>
  </div>
