<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col">
        <h1><%= link_to @klass.subject.name, subject_path(@klass.subject) %>, <%= @klass.year  %></h1>
        <h3>Taught by: <%= link_to @klass.instructor.name, instructor_path(@klass.instructor) %></h3>
      <div class="d-flex justify-content-center">



        <% if !@klass.reviews.empty? %>
          <table class="table table-sm table-dark" id="klass-table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Rating</th>
              </tr>
              </thead>
            <tr>
              <td>Overall</td>
              <td><%= @klass.average_overall %></td>
            </tr>
            <tr>
              <td>Difficulty</td>
              <td><%= @klass.average_diff %></td>
            </tr>
            <tr>
              <td>Intrigue</td>
              <td><%= @klass.average_intr %></td>
            </tr>
            <tr>
              <td>Would Recommend</td>
              <td><%= @klass.average_rec %></td>
            </tr>
          </table>
          <% else %>
          No reviews yet for this class.
          <% end %>

      </div>

      <div class="">
        <hr>
          <% if @klass.reviews.any? %>
            <%= render 'review_list' %>
          <% else %>
          <% end  %>
      </div>

      <div class="">
        <hr>
        <%= render 'review_form' %>
      </div>

    </div>
  </div>
</div>
